/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 21, 2016, 9:52:37 AM
    Author     : User
*/

body{
    margin: 0;
    font-family: "segoe ui";
    background: #eee;
}
.body{
    width: 960px;
    min-height: 600px;
    margin: 0 auto auto;
    
}

.white-text{
    color: #fff;
}

#container {
  width: 840px;
  margin: 25px auto;
}

.whysign {
  float: left;
  background-color: white;
  width: 480px;
  height: 347px;
  border-radius: 0 5px 5px 0;
  padding-top: 20px;
  padding-right: 20px;
}

.signup {
  float: left;
  width: 300px;
  padding: 30px 20px;
  background-color: white;
  text-align: center;
  border-radius: 5px 0 0 5px;
}

[type='text'], [type='password'] {
  display: block;
  margin: 0 auto;
  width: 80%;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  height: 45px;
  line-height: 45px;  
  margin-bottom: 10px;
  font-size: 1em;
  color: rgba(0,0,0,.4);
}

.bt {
  margin-top: 25px;
  width: 80%;
  border: 0;
  /*background-color: #53CACE;*/
  border-radius: 5px;
  height: 50px;
  color: white;
  font-weight: 400;
  font-size: 1em;
}

[type='text']:focus, [type='password']:focus {
  outline: none;
  border-color: #53CACE;
}

h1 {
  color: rgba(0,0,0,.7);
  font-weight: 900;
  font-size: 2.5em;
}

p {
  color: rgba(0,0,0,.6);
  font-size: 1.2em;
  margin: 50px 0 50px 0;
}



p:nth-of-type(2) {
  font-size: 1em;
}

::-moz-selection{
    text-shadow: none;
    background: dodgerblue;
    color: #fff;
}
::-webkit-selection{
    text-shadow: none;
    background: dodgerblue;
    color: #fff;
} 
::selection{
    text-shadow: none;
    background: dodgerblue;
    color: #fff;
}

.btn-blue{
    background: -webkit-gradient(linear,left top,left bottom,from(#0079bc),to(#00509d));
    color: #fff;
}

color-grdient{
    background: linear-gradient(#1b6d85, #009999);
/*    color: #16BFFD;  fallback for old browsers 
color: -webkit-linear-gradient(to left, #16BFFD , #CB3066);  Chrome 10-25, Safari 5.1-6 
color: linear-gradient(to left, #16BFFD , #CB3066);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.sel{
    background: #ffffcc;
    color: #fff;
}

.banner-wrapper{
    height: 250px;
    width: 100%;
    background: #fff;
    clear: both;
    margin-top: 50px;
    box-shadow: 0px 4px 2px #cccccc;
    background: #16BFFD;

    background: #16BFFD;  
    background: -webkit-linear-gradient(to left, #16BFFD , #009999); 
    background: linear-gradient(to left, #16BFFD , #009999);



    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    transition: 0.4s;
}

.slider {
	position: relative;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	height: 12px;
	width: 12px;
	display: inline-block;
	background: #fff;
	border-radius:50px;
}
.callbacks_here a:after{
	background:#000;
}
.callbacks_tabs a{
	visibility:hidden;
}
.callbacks_tabs li{
	display:inline-block;
}
ul.callbacks_tabs.callbacks1_tabs {
	position: absolute;
	bottom: 14px;
	z-index: 999;
	left: 45%;
}

.btn-invert{
    border-color: #fff;
    border-width: 3px;
    background: -webkit-gradient(linear,left top,left bottom,from(#0079bc),to(#00509d));
    color: #fff;
}

.btn-d{
    border-width: 3px;
}

.btn-d:hover{
    color: #fff;
    background: #16BFFD;
}

.center{
    width: 100%;
    height: auto;
    background: #fff;
    box-shadow: 0 1px 2px 1px #cccccc;
}

.footer{
    width: 100%;
    height: 150px;
    margin-bottom: 50px;
    background: #fff;
    border-top: #ff6600 1px solid;
    clear: both;
    z-index: 1000;
}

.center .boxes{
    height: 150px;
    width: 100%;
    float: top;
    margin: auto;
    box-shadow: 0px 0px 1px #fff;
    margin-bottom: 10px;
}

.boxes ul li div{
    margin: auto;
}

.center .boxes ul{
    display: block;
    padding: 0;
}

.boxes ul li{
    display: inline-block;
    width: 315px;
    height: 150px;
}

.content{
    width: 100%;
    height: fit-content;
    padding: 0;
    text-shadow: 0px 0px 1px #fff;
}
.content ul{
    padding: 0;
}

.content ul .ad{
    height: 100px;
    display: block;
}
 
.content ul .top{
}

.dark-blue{
    
}


.float-right{
   float: right;
   padding-right: 5px;
}

.btn-border{
    border-color: #fff;
    border-style: solid;
    border-width: 2px;
}
.translusent{
    background: none;
    color: #fff;
}

.translusent:hover{
    background: rgba(102,102,102,10);
}

.flat-orange{
    background: #ed6859;
    color: #fff;
}
.green{
    background: #009966;
    color: #fff;
}

.green:hover{
    background: #006633;
}

.orange{
    background: #cc0000;
    color: #fff;
}
.orange-gradient{
    
background: linear-gradient(#16BFFD, #53CACE);

/*background: #16BFFD;  fallback for old browsers 
background: -webkit-linear-gradient(to left, #16BFFD , #CB3066);  Chrome 10-25, Safari 5.1-6 
background: linear-gradient(to left, #16BFFD , #CB3066);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
        */


    color: #fff;
}
.orange:hover{
    background: #ff3300;
}
 
/*.blue{
    background: #4D90FE;
    color: #fff;
}

.blue:hover{
    background: #003366;
}*/

.textField{
    width: 235px;
    height: 35px;
    border-radius: 2px;
    border: solid 1px #666;
    background-repeat: no-repeat;
    color: #333;
    background-color: #fff;
    background-size: auto;
    padding-left: 32px;
    margin-bottom: 5px;
    transition: background 0.5s;
    box-shadow: 0px 0px 1px #fff;
}

.signupLabel{
    width: 232px;
    height: 25px;
    border-bottom: #cccccc solid 1px;  
    color: #999;
}
.uname{
    background-image: url(/img/uname.png);
}
.email{
    background-image: url(/img/mail3.png);
}
.passord{
    background-image: url(/img/pas.png);
    transition-delay: 0.2s;
}

.banner-wrapper .banner{
    width: 45%;
    height: 100%;
    float: left;
    margin: 10px;
}

.banner-wrapper .details{
    width: 45%;
    height: auto;
    float: right;
    font-size: 14px;
    margin: 10px;
    padding: 10px;
    color: #fff;
}

.header-wrapper{
    width: 960px;
    min-width: 900px;
    margin: auto;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
}
.header .logo-wrapper{
    width: 240px;
    height: 50px;
}
.header .logo{
    width: auto;
    line-height: 31px;
    height: 31px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 1px 0px #8F069F;
}

/*.header .logo:hover{
    color: 
}*/

nav{
    position: fixed;
    background: linear-gradient(#333333 10%, #313131 90%, #333);
    width: 100%;
    min-width: 900px;
    height: 50px;
    top: 0;
    box-shadow: #999999 1px 1px 1px;
    z-index: 20000;
}

.header menu{
    height: 50px;
    margin-top: 0px;
    float: right;
    display: inline;
}
.header .menu-bar{
    margin-top: 0px;
    height: 36px;
    padding: 2px;
    display: inline-block;
    margin-top: 5px;
}
.header .menu-bar li{
    display: inline-block;
    width: 36px;
    height: 36px;
}

.header a{
    height: 36px;
    background: inherit;
    display: inline-block;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 900;
    vertical-align: central;
    border-radius: 5px;
    transition: background 0.4s;
}
.header a img, .header a span{
    margin: 5px;
}
.header a:hover{
    
background: #16BFFD; /* fallback for old browsers */

    box-shadow: 0px 1px 0px #CB3066;
}
.menu-item img{
    margin-top: 12px;
    vertical-align: middle;
    width: 25px;
}
.left{
    
    text-shadow: 0px 1px 0px #fff;
    
}

#searchback{
    width: 400px;
    height:40px;
    margin-top: 0px;
    margin-right: 5px;
    float: left;
    display: inline-block;
    padding: 5px;
}
#searchback .wrapper{
    margin-top: 2px;
    width: 400px;
    height: 35px;
    padding: 2px;
    background: #fff;
    border: #ffffff solid 1px;
    border-radius: 5px
}
#search{
    width:340px;
    height:30px;
    border:none;
    margin-left:5px;
    color:#999;
    box-shadow: 1px 1px 1px #fff;
}
#searchbt{
    width:40px;
    height:30px;
    border: none;
    float:right;
    background-color:transparent;
    border-style:none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-image:url(img/Search.png);
    background-size: 50%;
    background-repeat:no-repeat;
    background-position:center;
    background-color: #ffffcc;
}
#search:focus, #searchbt:focus{
    outline:none;
}
#search::-webkit-search-cancel-button{
    -webkit-appearance: none;
    display: none;
}

.section-header{
    height: 50px;
    width: 100%;
    
}

.rounded-edges{
    border-radius: 4px;
}


.col{
    float: left;
    font-weight: 600;
    display: inline-block;
    text-indent: 5px;
    line-height: 50px;
}

.col-right{
    float: right;
    font-weight: 600;
    display: inline-block;
    text-indent: 5px;
    margin-right: 5px;
    line-height: 50px;
}

.col1{
    width: 200px;
}

.left{
    float: left;
    width: 205px;
    height: auto;
    border-right: linen 1px dashed;
}

.right{
    float: right;
    width: 750px;
    height: 100%;
    margin-top: 0;
    
}

.middle{
    width: 100%;
    height: 100px;
    align-content: center;
    align-items: center;
    
    background: whitesmoke;
    z-index: 0;
    margin: 10px 0 10px 0;
}
.clear-top{
    margin-top: 65px;
}
.left .left-wrapper{
    font-size: 14px;
    
}
.left .left-wrapper .col1{
    
}
li{
    display: block;
}
.left ul{
    display: block;
    padding: 0;
    margin-top: 0px;
}

.left ul li{
    display: block;
    padding-left: 5px;
    line-height: 35px;
    cursor: pointer;
    border-bottom: linen 1px dashed;
    transition: background 0.4s;
}

.left ul li:hover{
    background: #ffffcc;
    color: #666;
    text-shadow: none;
}

.left ul li:hover a{
    color: #666;
}

.left ul li a{
    display: block;
    text-decoration: none;
    
}
.active{
    background: #ffcc99;
    text-shadow: none;
    
}
.active a{
    color: #fff;
}
footer{
    width: 100%;
    height: 100%;
    margin: auto;
}
.footer-wrapper{
    width: 960px;
    height: 100%;
    margin: auto;
}

.footer-bottom{
    width: 100%;
    height: 50px;
    font-size: 12px;
}

.left section{
    border-bottom: linen 1px dashed;
}

.footer-links li a{
    color: #fff;
}

.footer-links li a:hover{
    color: #ff3300;
}

.sign-up-wrapper{
    width: 250px;
    margin: auto;
    padding: 25px;
}

.content .description{
    float: top;
    padding: 10px;
    margin: 15px;
}

.content-footer{
    height: 50px;
    width: 100%;
    padding: 10px;
    float: bottom;
    bottom: 0px;
}

.content-footer a{
    color:#ff6600;
}

.description p{
    font-size: 12px;
}

.content .description .desc-block{
    text-align: left;
    vertical-align: top;
    height: 100px;
    display: inline-block;
}
.block-img{
    width: 80px;
    height: 80px;
    display: inline-block;
    float: left;
    font-size: 50px;
    
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;

}
.block-img span{
    vertical-align: middle;
}

.images ul li{
    display: inline-block;
    height: 120px;
    width: 100px;
    border: 1px dotted gray;
    padding: 5px;
}

.images ul li input{
    float: bottom;
    width: 95px;
}

.img_prev{
    width: 100%;
    height: 95px;
    background: aliceblue;
}

.item{
    height: 40px;
    padding: 5px;
}

.products{
    width: 100%;
}

.item tr{
    line-height: 40px;
}

.item{
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.products{
    text-indent: 5px;
}

.products th{
    color: #fff;
}

.two{
    background: #ffffcc;
}

.section-header #searchback{
    float: right;
}

.col-select{
    text-align: right;
    padding-right: 10px;
}

.product-thumb{
    width: 200px;
    height: 250px;
    padding: 5px;
    border: 1px #cccccc solid;
}

.product-thumb .product-thumb-bottom{
    height: 40px;
    
    float: bottom;
}

.product-thumb .pimg{
    width: 170px;
    height: 170px;
    background: #ed6859;
}

.product-list{
    display: inline;
}

.product-list li{
    display: inline-block;
}